.Rproj.user
.Rhistory
.RData
.Ruserdata

__pycache__/
outputs/
tmp.*
.vscode/
*.html
*.tiff

.DS_Store
*.pptx
*.pdf
*.docx

*.RData
*.RProj

*.tex


subset_data_for_lmem_v2.csv
artifacts/NPJ2025/data/subset_data_for_lmem_v2.csv 
artifacts/NPJ2025/data/subset_data_for_lmem.csv 
